<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>vue-dischi</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="container_dischi">
            <h1>I vinili della settimana</h1>
            <select class="generiDischi" @change= name="" v-model="selezionaGenere">
                 <option value="tutto">Tutti i generi</option>
                 <!-- v-for solo dellelemento dell'array che mi interessa stampare a video -->
                <option v-for="genre in generi_musicali" :value="genre">{{genre}}</option>
            </select>
            <!-- mostra la card solo se il genere del cd è uguale al genere selezionato o se il genere selzionato è vuoto(quando non seleziono niente) -->
            <!-- tutto può essere anche stringa vuota (non seleziono niente) -->
            <div class="lista_dischi" v-for="disco in dischi" v-if="disco.genre == selezionaGenere || selezionaGenere =='tutto'" >
                <img class="poster" :src="disco.poster" :alt="disco.title">
                <h1 class=title>{{disco.title}}</h1>
                <p class="author">{{disco.author}}</p>
                <p class="genre">{{disco.genre}}</p>
                <p class="year">{{disco.year}}</p>
            </div>
        </div>



        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
